
canvas {
  display: block;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
}

.container-canvas {
  position: relative;
  margin: 20px 40px;
}

.button {
  position: absolute;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  z-index: 2;
  width: 44px;
  height: 44px;
  background-color: rgb(0, 198, 215);
  border: 0;
  top: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.button-left {
  left: 0;
}
.button-right {
  right: 0;
}
